<h1 id="tableLabel">MES Running Number Generator</h1>

<p>This component demonstrates the structure of MES Cloud Web Service</p>
<p><strong>Api URL : </strong>http://10.11.102.119:637/api/MES_WebService/GetRunningNumbers?SequenceName=SequenceABCD&RunNoCount=5&LotId=2423000870008&StepNo=1&Factory=UAT&IsUnique=true</p>

<table>
    <thead>
        <tr>
            <th>Parameters</th>
            <th>DataType</th>
            <th>Sample Data</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>SequenceName</td>
        <td>String</td>
        <td>SequenceABCD</td>
      </tr>
      <tr>
        <td>RunNoCount</td>
        <td>Integer</td>
        <td>100</td>
      </tr>
      <tr>
        <td>LotId</td>
        <td>String</td>
        <td>2423000870008</td>
      </tr>
      <tr>
        <td>StepNo</td>
        <td>Integer</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Factory</td>
        <td>String</td>
        <td>UAT</td>
      </tr>
      <tr>
        <td>IsUnique</td>
        <td>Boolean</td>
        <td>True</td>
      </tr>
    </tbody>
</table>
